@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

:root {
  --primary-color: rgb(23, 100, 167);
  --secondary-color: rgb(57, 129, 192);
  --background: rgb(187, 180, 180);
}
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  overflow: hidden;
}

body,
html,
main {
  height: 100%;
}
